@{
    ViewData["Title"] = "Admin Services";
    @model ManageRolesViewModel;
    @using SFA.DAS.ToolService.Web.Configuration
    @using SFA.DAS.ToolService.Web.Controllers.Admin
    @using SFA.DAS.ToolService.Web.Extensions
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This area is for admin users only.
            </strong>
        </div>

        <h1 class="govuk-heading-xl">Manage roles</h1>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

                <dl class="govuk-summary-list">

                    @foreach (var role in @Model.LocalRoles)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @role.Name
                            </dt>

                            <dd class="govuk-summary-list__value">
                                @role.Description
                            </dd>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-button" data-module="govuk-button" asp-route="@AdminRoleAssignmentRouteNames.ManageRoleAssignment" asp-route-roleId="@role.Id">
                                    Manage
                                </a>
                            </dd>
                        </div>
                    }
                </dl>
        </div>
    </div>
</div>
