@{
    ViewData["Title"] = "Admin Services";
    @model ApplicationsForRoleViewModel;
    @using SFA.DAS.ToolService.Web.Controllers.Admin
    @using SFA.DAS.ToolService.Web.Extensions
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This area is for admin users only.
            </strong>
        </div>

        @if (@Model.Applications.Count > 0)
        {
    <form asp-route=@AdminRoleAssignmentRouteNames.RemoveApplication method="post">
        <h1 class="govuk-heading-xl">Applications for role: @Model.RoleId</h1>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <input id="role-id" name="RoleId" value="@Model.RoleId" type="hidden">
                <dl class="govuk-summary-list">

                    @foreach (var app in @Model.Applications)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @app.Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @app.Description
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <input id="for-id" asp-for="ApplicationId" value="@app.Id" type="hidden">
                                <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                                    Remove
                                </button>

                            </dd>
                        </div>
                    }

                </dl>
            </fieldset>
        </div>
    </form>
        }
        else
        {
            <p class="govuk-body">There are no applications assigned to this role.</p>
            <p class="govuk-body">
                You can return to the start by clicking <a asp-controller="@typeof(AdminController).GetControllerName()" asp-action="@nameof(AdminController.Index)"> here</a>, or add a <a asp-route="@AdminRoleAssignmentRouteNames.GetUnassignedApplications">new application</a>.
</p>
        }
    </div>
</div>
