@{
    ViewData["Title"] = "Admin Services";
    @model ApplicationsForRoleViewModel;
    @using SFA.DAS.ToolService.Web.Controllers.Admin
    @using SFA.DAS.ToolService.Web.Extensions
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This area is for admin users only.
            </strong>
        </div>

        @if (@Model.Applications.Count > 0)
        {
            <form asp-controller="@typeof(AdminRoleAssignmentController).GetControllerName()" asp-action="@nameof(AdminRoleAssignmentController.RemoveApplicationFromRole)" method="post">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Pick an Application
                            </h1>
                        </legend>

                        <input id="role-id" name="RoleId" value="@Model.RoleId" type="hidden">

                        <div class="govuk-radios">

                            @foreach (var app in @Model.Applications)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="app-choice" name="ApplicationId" type="radio" value="@app.Id">
                                    <label class="govuk-label govuk-radios__label" for="app-choice">
                                        @app.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        }
        else
        {
            <p class="govuk-body">There are no applications assigned to this role.</p>
            <p class="govuk-body">
                You can return to the start by clicking <a asp-controller="@typeof(AdminController).GetControllerName()" asp-action="@nameof(AdminController.Index)">this link</a>.
            </p>
        }
    </div>
</div>
