@{
    ViewData["Title"] = "Admin Services";
    @model ApplicationsForRoleViewModel;
    @using SFA.DAS.ToolService.Web.Configuration
    @using SFA.DAS.ToolService.Web.Controllers.Admin
    @using SFA.DAS.ToolService.Web.Extensions
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-caption-xl">@Model.RoleName.ToLowerInvariant()</h2>
        <h1 class="govuk-heading-xl">Manage role assignments</h1>

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#Add">
                        Add
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#Remove">
                        Remove
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Add">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">

                        @if (@Model.UnassignedApplications.Count > 0)
                        {
                            @foreach (var app in @Model.UnassignedApplications)
                            {
                                <form asp-route="@AdminRoleAssignmentRouteNames.AddApplication" method="post">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@app.Name</td>
                                        <td class="govuk-table__cell">@app.Description</td>
                                        <td class="govuk-table__cell">
                                            <input id="for-id" asp-for="ApplicationId" value="@app.Id" type="hidden">
                                            <button class="govuk-button" data-module="govuk-button">
                                                Add
                                            </button>
                                        </td>
                                    </tr>
                                </form>
                            }
                        }
                        else
                        {
                            <p class="govuk-body">There are no applications assigned to this role.</p>
                        }
                    </tbody>
                </table>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Remove">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">

                        @if (@Model.AssignedApplications.Count > 0)
                        {
                            @foreach (var app in @Model.AssignedApplications)
                            {
                                <form asp-route="@AdminRoleAssignmentRouteNames.RemoveApplication" method="post">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@app.Name</td>
                                        <td class="govuk-table__cell">@app.Description</td>
                                        <td class="govuk-table__cell">
                                            <input id="for-id" asp-for="ApplicationId" value="@app.Id" type="hidden">
                                            <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                </form>
                            }
                        }
                        else
                        {
                            <p class="govuk-body">There are no applications assigned to this role.</p>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
